<div class="modal" tabindex="-1" role="dialog" id="question">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p id="question"></p>
          </div>
          <div class="col-md-12">
              <p id="answer-1"></p>
              <p id="answer-2"></p>
              <p id="answer-3"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var questions = [
      {
        "id": 1,
        "question": "Defina las tres cualidades del motor SOHC.",
        "image": "/images/question-images/pregunta1.png",
        "answers": [
          {
            "answer": "Potencia, calidad y diseño",
            "isCorrect": true
          },
          {
            "answer": "Calidad, diseño y estilo. ",
            "isCorrect": false
          },
          {
            "answer": "Estilo, apariencia y confort. ",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 2,
        "question": "¿Cuál de las siguientes opciones, es una característica principal del motor SOCH?",
        "image": "/images/question-images/pregunta2.png",
        "answers": [
          {
            "answer": "Distribución por cadenilla.",
            "isCorrect": true
          },
          {
            "answer": "Distribución por Barillas.",
            "isCorrect": false
          },
          {
            "answer": "DOHC",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 3,
        "question": "Según la imagen, seleccione cuál operación se está llevando a cabo.",
        "image": "/images/question-images/pregunta3.png",
        "answers": [
          {
            "answer": "Calibración de bujía.",
            "isCorrect": false
          },
          {
            "answer": "Calibración de válvulas.",
            "isCorrect": true
          },
          {
            "answer": "Todas las anteriores.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 4,
        "question": "Según la imagen, seleccione cuál operación se está llevando a cabo.",
        "image": "/images/question-images/pregunta4.png",
        "answers": [
          {
            "answer": "Calibración de válvulas.",
            "isCorrect": false
          },
          {
            "answer": "Limpieza de bujías.",
            "isCorrect": false
          },
          {
            "answer": "Toma de tiempo mecánico.",
            "isCorrect": true
          }
        ]
      },
      {
        "id": 5,
        "question": "¿Cuántos eslabones trae la cadenilla de distribución?",
        "image": "/images/question-images/pregunta5.png",
        "answers": [
          {
            "answer": "45",
            "isCorrect": true
          },
          {
            "answer": "50",
            "isCorrect": false
          },
          {
            "answer": "62",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 6,
        "question": "Según la imagen, seleccione cuál es la medida que se está tomando",
        "image": "/images/question-images/pregunta6.png",
        "answers": [
          {
            "answer": "Longitud de biela.",
            "isCorrect": false
          },
          {
            "answer": "Holgura lateral de biela.",
            "isCorrect": true
          },
          {
            "answer": "Distancia de pmi a pms.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 7,
        "question": "¿Cuál es la finalidad de la buena posición de ensamble del plato tambor del selector?",
        "image": "/images/question-images/pregunta7.png",
        "answers": [
          {
            "answer": "Bloquear la caja de transmisión para que no pase de 2 a 4.",
            "isCorrect": false
          },
          {
            "answer": "Bloquear la caja de transmisión para que no pase de 4 a 1.",
            "isCorrect": true
          },
          {
            "answer": "Ninguna de las anteriores.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 8,
        "question": "Según los circulos rojos sombreados en la imagen, ¿Qué es lo que debemos verificar?",
        "image": "/images/question-images/pregunta8.png",
        "answers": [
          {
            "answer": "Los orings.",
            "isCorrect": true
          },
          {
            "answer": "Las balineras.",
            "isCorrect": false
          },
          {
            "answer": "La planitud.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 9,
        "question": "¿Qué nombre recibe el elemento presente en la imagen?",
        "image": "/images/question-images/pregunta9.png",
        "answers": [
          {
            "answer": "Selector.",
            "isCorrect": false
          },
          {
            "answer": "Lumbrera.",
            "isCorrect": false
          },
          {
            "answer": "Bomba de lubricación.",
            "isCorrect": true
          }
        ]
      },
      {
        "id": 10,
        "question": " ¿Cuál es el espesor standard de las zapatas del automático?",
        "image": "/images/question-images/pregunta10.png",
        "answers": [
          {
            "answer": "2mm.",
            "isCorrect": true
          },
          {
            "answer": "4mm.",
            "isCorrect": false
          },
          {
            "answer": "3mm.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 11,
        "question": "En la imagen la letra A identifica la tapa del embrague. ¿Qué debemos verificar al retirarla?",
        "image": "/images/question-images/pregunta11.png",
        "answers": [
          {
            "answer": "Los retenedores.",
            "isCorrect": false
          },
          {
            "answer": "El correcto estado de los rodamientos.",
            "isCorrect": true
          },
          {
            "answer": "La letra “R”.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 12,
        "question": "¿De qué material está compuesto el recubrimiento de la falda del pistón?",
        "image": "/images/question-images/pregunta12.png",
        "answers": [
          {
            "answer": "Grafito.",
            "isCorrect": true
          },
          {
            "answer": "Pbtx.",
            "isCorrect": false
          },
          {
            "answer": "No tiene recubrimiento.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 13,
        "question": "¿Cuál es el tipo de refrigeración de la FLEX EVOLUTION 125?",
        "image": "/images/question-images/pregunta13.png",
        "answers": [
          {
            "answer": "Refrigeración por líquido.",
            "isCorrect": false
          },
          {
            "answer": "Refrigeración por aire forzado.",
            "isCorrect": false
          },
          {
            "answer": "Refrigeración por aire en marcha.",
            "isCorrect": true
          }
        ]
      },
      {
        "id": 14,
        "question": "Según el círculo rojo que enmarca la imagen, seleccione el nombre que recibe.",
        "image": "/images/question-images/pregunta14.png",
        "answers": [
          {
            "answer": "Buje.",
            "isCorrect": false
          },
          {
            "answer": "Válvula by -pass",
            "isCorrect": true
          },
          {
            "answer": "Ninguna de las anteriores.",
            "isCorrect": false
          }
        ]
      },
      {
        "id": 15,
        "question": "Las líneas rojas marcan el tope del buje tensor con respecto a la cabeza, ¿Cuál es la dimensión correcta?",
        "image": "/images/question-images/pregunta15.png",
        "answers": [
          {
            "answer": "4.75mm.",
            "isCorrect": true
          },
          {
            "answer": "5.55mm.",
            "isCorrect": false
          },
          {
            "answer": "6.00mm.",
            "isCorrect": false
          }
        ]
      },
    ]; 
  
    var random = Math.floor(Math.random() * 14) + 0; 

    var query = questions[random];

    $('question').html(query.question);
    $('answer-1').html(query.answers[0].answer);
    $('answer-2').html(query.answers[1].answer);
    $('answer-3').html(query.answers[2].answer);

  });
</script>