#homepage {
  a:not(.btn) {
    color: @brand;
    border-bottom: 1px solid @text-normal;
    &:hover {
      text-decoration: none;
      color: @text-normal;
    }
  }

  .hero {
    padding-top: 100px;
    padding-bottom: 25px;
    color: @brand;
    position: relative;
    .hero-image {
      width: 220px;
      height: 170px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      img {
        position: absolute;
      }
      .sky {
        width: 170px;
        left: 25px;
        top: 25px;
      }
      .cloud {
        .fly-fade();
        width: 80px;
        &.cloud-1 {
          top: 55px;
          left: -40px;
          opacity: 0;
          .animation-delay(3.5s);
        }
        &.cloud-2 {
          top: 45px;
          left: -40px;
          opacity: 0;
        }
      }
      .ship {
        .skid();
        width: 160px;
        bottom: 50px;
        left: 18px;
      }
      .water {
        width: 170px;
        bottom: 40px;
        left: 25px;
      }
    }
    h1 {
      padding-bottom: 50px;
    }
    .more-info-text {
      .bob();
      cursor: pointer;
      margin-top: 75px;
      position: absolute;
      width: 100%;
      bottom: 25px;
      left: 0px;
      .text {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
      }
      .icon {
        font-size: 20px;
      }
    }
  }

  .about-wrapper {
    background-color: #eef5f9b8;
    .about {
      padding-top: 75px;
      padding-bottom: 50px;
      p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .features {
      padding-top: 25px;
      padding-bottom: 100px;
      .feature {
        .icon {
          background-color: @brand;
          color: @accent-white;
          width: 75px;
          height: 75px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 25px;
          border-radius: 50%;
          font-size: 35px;
          line-height: 75px;
          text-align: center;
        }
      }
    }
  }


  .setup {
    padding-top: 75px;
    .step {
      margin-top: 75px;
      margin-bottom: 75px;
      padding-left: 240px;
      position: relative;
      .step-image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 140px;
        img {
          width: 100%;
        }
      }
    }
  }

  .pep-talk {
    padding-top: 50px;
    padding-bottom: 100px;
    p {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    a {
      border-bottom: none;
    }
  }

  &.uninitialized {
    height: 100%;
    .hero, .about, .features, .setup, .pep-talk {
      opacity: 0;
    }
  }

  @media (max-width: 991px) {
    .setup {
      .step {
        padding-left: 0px;
        .step-image {
          display: none;
        }
      }
    }
  }
  @media (max-width: 450px) {
    .hero {
      padding-top: 50px;
        h1.display-4 {
        font-size: 34px;
      }
    }
  }
}

/* Tricky game */
#tacGame{
  text-align:center;
  margin:50px auto;
  padding:20px;
  border:2px solid white;
  width:400px;
  border-radius:10px;
  font-size:1em;
}
#tacGame>h1{
  cursor:pointer;
  width:300px;
  margin:20px auto;
  border-radius:8px;
  transition-property:background-color;
  transition-timing-function: ease;
  transition-duration: 0.28s;
}
#tacGame>h1:hover{
  background-color:#bbb;
}
#tacGame>p{
  margin-top:0;
  margin-bottom:0;
  padding:0;
  height:100px;
}
#tacGame p button{
  font-size:5em;
  width:100px;
  height:inherit;
  text-align:center;
  text-decoration:none;
  vertical-align: text-top;
  border-left-style: solid;
}

/* Background images */
body {
  font-family: tahoma, helvetica, arial, sans-serif;
  font-size: 12px;
  text-align: center;
  background: #000;
  padding-top: 12px;
  line-height: 2;
  //background-image: url('/images/background.jpeg');
  background-image: url('https://images.unsplash.com/photo-1481567758055-3e8a6e89ca58?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f30108ad27a5a9d7e4ee92d24412d01&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.8;
  filter:alpha(opacity=80);
}

/* Modal instructions */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

/* Questions */
.modal-question {
  width: 50%;
  height: 60%;
}

/* Answers */
.hungry .selection {
  margin-bottom: 1em;
}

.hungry .selection label {
  display: inline-block;
  width:8em;
  background-color: #42b4d6;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.5em;
  cursor: pointer;
}

.hungry .selection label:hover {
  background-color: #5fc0dc;
}

.hungry .selection input[type=radio] {
  display: none;
}

.hungry .selection input[type=radio]:checked ~ label {
  background-color: #f1592a;
}