<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-2">
      <img alt="Logo" src="/images/logo2.png"/>
      <!-- Button trigger modal - Instructions -->
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#instructions">
        <img alt="Instructions" src="/images/icon1.png"/>
      </button>
    </div>
    <div class="col-md-10">
      <div class="wrapper">
        <div id="tacGame">
          <!-- <h1 id="reset">Refresh</h1> -->
          <p><button></button><Button></button><button></button></p>
          <p><button></button><button></button><button></button></p>
          <p><button></button><button></button><button></button></p>
        </div>
      </div>
    </div>
  </div>
</div>





 
<script>
  var answer = false;

  $(window).on('load',function(){
    $('#instructions').modal('show');
  });

  $( document ).ready(function(){
    var body = $('#tacGame');
    var reset = $('#reset');
    var btns = $("#tacGame p button ");
    
    var ownblocks, loseblocks;

    var init = function (){
      ownblocks=[];
      loseblocks=[];
      [].forEach.call(btns,function(cur){
        cur.innerText="";
        cur.disabled=false;
      });
    };

    init();

    var posX=0,
        posY=0;
    reset.onclick=init;

    var setOnClick=function(cur,index,arr){
      (function() {
        if(posY>2){
          posX++;
          posY=0;
        }
        cur.position=[posX,posY];
        posY++;	
      })();

      cur.onclick=function(){
        return function(){
          var questions = [
            {
              "id": 1,
              "question": "Defina las tres cualidades del motor SOHC.",
              "image": "/images/question-images/pregunta1.png",
              "answers": [
                {
                  "answer": "Potencia, calidad y diseño",
                  "isCorrect": true
                },
                {
                  "answer": "Calidad, diseño y estilo.",
                  "isCorrect": false
                },
                {
                  "answer": "Estilo, apariencia y confort.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 2,
              "question": "¿Cuál de las siguientes opciones, es una característica principal del motor SOCH?",
              "image": "/images/question-images/pregunta2.png",
              "answers": [
                {
                  "answer": "Distribución por cadenilla.",
                  "isCorrect": true
                },
                {
                  "answer": "Distribución por Barillas.",
                  "isCorrect": false
                },
                {
                  "answer": "DOHC",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 3,
              "question": "Según la imagen, seleccione cuál operación se está llevando a cabo.",
              "image": "/images/question-images/pregunta3.png",
              "answers": [
                {
                  "answer": "Calibración de bujía.",
                  "isCorrect": false
                },
                {
                  "answer": "Calibración de válvulas.",
                  "isCorrect": true
                },
                {
                  "answer": "Todas las anteriores.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 4,
              "question": "Según la imagen, seleccione cuál operación se está llevando a cabo.",
              "image": "/images/question-images/pregunta4.png",
              "answers": [
                {
                  "answer": "Calibración de válvulas.",
                  "isCorrect": false
                },
                {
                  "answer": "Limpieza de bujías.",
                  "isCorrect": false
                },
                {
                  "answer": "Toma de tiempo mecánico.",
                  "isCorrect": true
                }
              ]
            },
            {
              "id": 5,
              "question": "¿Cuántos eslabones trae la cadenilla de distribución?",
              "image": "/images/question-images/pregunta5.png",
              "answers": [
                {
                  "answer": "45",
                  "isCorrect": true
                },
                {
                  "answer": "50",
                  "isCorrect": false
                },
                {
                  "answer": "62",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 6,
              "question": "Según la imagen, seleccione cuál es la medida que se está tomando",
              "image": "/images/question-images/pregunta6.png",
              "answers": [
                {
                  "answer": "Longitud de biela.",
                  "isCorrect": false
                },
                {
                  "answer": "Holgura lateral de biela.",
                  "isCorrect": true
                },
                {
                  "answer": "Distancia de pmi a pms.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 7,
              "question": "¿Cuál es la finalidad de la buena posición de ensamble del plato tambor del selector?",
              "image": "/images/question-images/pregunta7.png",
              "answers": [
                {
                  "answer": "Bloquear la caja de transmisión para que no pase de 2 a 4.",
                  "isCorrect": false
                },
                {
                  "answer": "Bloquear la caja de transmisión para que no pase de 4 a 1.",
                  "isCorrect": true
                },
                {
                  "answer": "Ninguna de las anteriores.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 8,
              "question": "Según los circulos rojos sombreados en la imagen, ¿Qué es lo que debemos verificar?",
              "image": "/images/question-images/pregunta8.png",
              "answers": [
                {
                  "answer": "Los orings.",
                  "isCorrect": true
                },
                {
                  "answer": "Las balineras.",
                  "isCorrect": false
                },
                {
                  "answer": "La planitud.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 9,
              "question": "¿Qué nombre recibe el elemento presente en la imagen?",
              "image": "/images/question-images/pregunta9.png",
              "answers": [
                {
                  "answer": "Selector.",
                  "isCorrect": false
                },
                {
                  "answer": "Lumbrera.",
                  "isCorrect": false
                },
                {
                  "answer": "Bomba de lubricación.",
                  "isCorrect": true
                }
              ]
            },
            {
              "id": 10,
              "question": " ¿Cuál es el espesor standard de las zapatas del automático?",
              "image": "/images/question-images/pregunta10.png",
              "answers": [
                {
                  "answer": "2mm.",
                  "isCorrect": true
                },
                {
                  "answer": "4mm.",
                  "isCorrect": false
                },
                {
                  "answer": "3mm.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 11,
              "question": "En la imagen la letra A identifica la tapa del embrague. ¿Qué debemos verificar al retirarla?",
              "image": "/images/question-images/pregunta11.png",
              "answers": [
                {
                  "answer": "Los retenedores.",
                  "isCorrect": false
                },
                {
                  "answer": "El correcto estado de los rodamientos.",
                  "isCorrect": true
                },
                {
                  "answer": "La letra “R”.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 12,
              "question": "¿De qué material está compuesto el recubrimiento de la falda del pistón?",
              "image": "/images/question-images/pregunta12.png",
              "answers": [
                {
                  "answer": "Grafito.",
                  "isCorrect": true
                },
                {
                  "answer": "Pbtx.",
                  "isCorrect": false
                },
                {
                  "answer": "No tiene recubrimiento.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 13,
              "question": "¿Cuál es el tipo de refrigeración de la FLEX EVOLUTION 125?",
              "image": "/images/question-images/pregunta13.png",
              "answers": [
                {
                  "answer": "Refrigeración por líquido.",
                  "isCorrect": false
                },
                {
                  "answer": "Refrigeración por aire forzado.",
                  "isCorrect": false
                },
                {
                  "answer": "Refrigeración por aire en marcha.",
                  "isCorrect": true
                }
              ]
            },
            {
              "id": 14,
              "question": "Según el círculo rojo que enmarca la imagen, seleccione el nombre que recibe.",
              "image": "/images/question-images/pregunta14.png",
              "answers": [
                {
                  "answer": "Buje.",
                  "isCorrect": false
                },
                {
                  "answer": "Válvula by -pass",
                  "isCorrect": true
                },
                {
                  "answer": "Ninguna de las anteriores.",
                  "isCorrect": false
                }
              ]
            },
            {
              "id": 15,
              "question": "Las líneas rojas marcan el tope del buje tensor con respecto a la cabeza, ¿Cuál es la dimensión correcta?",
              "image": "/images/question-images/pregunta15.png",
              "answers": [
                {
                  "answer": "4.75mm.",
                  "isCorrect": true
                },
                {
                  "answer": "5.55mm.",
                  "isCorrect": false
                },
                {
                  "answer": "6.00mm.",
                  "isCorrect": false
                }
              ]
            },
          ]; 
        
          var random = Math.floor(Math.random() * 14) + 0; 

          var query = questions[random];
          var modal = $("#exampleModal").modal("show");

          if (answer !== false) {
            /* this.innerText="X";
            this.used=true;
  
            if(this.disabled===false){
              if(ownblocks.length>=2){
                if(checkblocks(ownblocks,this.position)){
                  alert("¡Has ganado!");
                }	
              }
              ownblocks.push(this.position);
              this.disabled=true;
            } */
  
            computerPlayer(btns);
          }
        };
      }();
    };

    function checkblocks(arr,positon){
        for(var m=0;m<arr.length;m++){
        for(var n=m+1;n<arr.length;n++){
          if((arr[n][0]===arr[m][0]&&positon[0]===arr[n][0])||(arr[n][1]===arr[m][1]&&positon[1]==arr[n][1])||((arr[n][0]-arr[m][0])/(arr[n][1]-arr[m][1])===(arr[n][0]-positon[0])/(arr[n][1]-positon[1]))){
            return true;
          }
        }
      }
      return false;
    }

    function computerPlayer(btns){
      var unusedBtns = [].filter.call(btns,function(cur){
        return !cur.disabled;
      });
      var random = Math.floor(Math.random()*unusedBtns.length);
      var randomBtn = unusedBtns[random];console.log(randomBtn);
      randomBtn.innerText = "O";
      randomBtn.disabled = true;
      if(loseblocks.length>=2){
        if(checkblocks(loseblocks,randomBtn.position)){
          alert("Has perdido :(");
          console.log("random btn used: "+randomBtn.used);
        }	
      }
      loseblocks.push(randomBtn.position);
      console.log("loseblocks: "+loseblocks);
    }
    [].forEach.call(btns,setOnClick);
  });

  function validarTest() {
    this.answer = true;
    this.innerText="X";
    this.used=true;

    if(this.disabled===false){
      if(ownblocks.length>=2){
        if(checkblocks(ownblocks,this.position)){
          alert("¡Has ganado!");
        }	
      }
      ownblocks.push(this.position);
      this.disabled=true;
    }
    console.log(`Answer value: ${this.answer}`);
  }
</script>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-full" role="document">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 bg-light">
          <img src="/images/question-images/pregunta1.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 bg-warning">
          <p id="question"></p>
          <form action="#"> 
            <p><h2>Defina las tres cualidades del motor SOHC</h2></p>

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off" name="optradio" value="option1"> Potencia, calidad y diseño.
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" name="optradio" value="option1"> Calidad, diseño y estilo.
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" name="optradio" value="option1"> Estilo, apariencia y confort.
              </label>
            </div>
            <!-- <div class="form-check">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked><h5>Potencia, calidad y diseño.</h5>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"><h5>Calidad, diseño y estilo.</h5>
              </label>
            </div>

            <div class="form-check">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3"><h5>Estilo, apariencia y confort.</h5>
              </label>
            </div> -->

            <button type="button" id="btn-seleccion" class="btn btn-primary" onclick="validarTest()">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-full" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"><b>INSTRUCCIONES PARA JUGAR LINEA DE 3</b></h3>
      </div>
      <div class="modal-body">
        <div>
            <p>
              <h4><span class="badge badge-danger">1</span> Da click sobre alguno
                de los 9 cuadros.</h4>
            </p>
            <p>
              <h4><span class="badge badge-danger">2</span> Lee la pregunta.</h4>
            </p>
            <p>
              <h4><span class="badge badge-danger">3</span> Contesta la pregunta, al acertar se marca el símbolo en el
                cuadro al que pertenece.</h4>
            </p>
            <p>
              <h4><span class="badge badge-danger">4</span> Si al terminar el juego no logras la línea de 3, puedes intentar
                otra partida.</h4>
            </p>
            <br>
            <p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <h2>Comienza. ¡Te deseamos todos los éxitos!</h2>
                </button>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>